html, body {
	height: 100%;
	margin: 0;
}

.content {
	min-height: 100%;
}

.content-inside {
	padding: 10px;
	padding-bottom: 70px;
}

.footer {
	height: 70px;
	margin-top: -70px;
}

.menu {
	color: black;
    text-align: center;
    padding: 10px;
}

.form {
    color: black;
    text-align: center;
    padding: 10px;
}

#main_menu {
  font-size: 14px;
  background: white;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: 2px #eee solid;
}

#foot {
  font-size: 14px;
  background: white;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  text-align: right;
}


h1 {
    border: 2px #eee solid;
    color: blue;
    text-align: center;
    padding: 10px;
}

h3 {
    border: 2px #fff solid;
    color: black;
    text-align: center;
    padding: 10px;
}
