{% extends 'base.html' %}

{% block title %}
	{{ page }}
{% endblock %}

{% block menu %}
	<div class="menu">
	<table id="main_menu">
	<tr>
	{% for key, value in menus.items() %}
		<td>
		<a href= "{{url_for(key)}}" >
            <h2>{{ value }}</h2>
        </a>
		</td>
	{% endfor %}
	</tr>
	</table>
	</div>
{% endblock %}

{% block container %}
	<div class="container">
    	<h1> {{ page }} </h1>
	</div>
<div class="form">
<form method="post">
{{ cDMX.csrf_token() }}
	{% for dev in host.all_device() %}
	<p>{{ dev }}</p>
		{% for dmx in host.get_dmx(dev)%}
		<label for="{{dmx.0}}">{{dmx.1}}:</label><input type="range" name="{{ dmx.0 }}" min="0" max="255" step="1" value="{{ host.get_dmx_val(dmx.0) }}"></input><br>
		{% endfor %}
	{% endfor %}
	<div>
	{{ cDMX.save_dmx}}
	</div>
</form>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block foot %}
	<div class="foot">
		<a>
		{% for txt in foot %}
			{{ txt }}
			<br>
		{% endfor %}
		</a>
	</div>
{% endblock %}

