{% extends 'base.html' %}

{% block title %}
	{{ page }}
{% endblock %}

{% block menu %}
	<div class="menu">
	<table id="main_menu">
	<tr>
	{% for key, value in menus.items() %}
		<td>
		<a href= "{{url_for(key)}}" >
            <h2>{{ value }}</h2>
        </a>
		</td>
	{% endfor %}
	</tr>
	</table>
	</div>
{% endblock %}

{% block container %}
	<div class="container">
    	<h1> {{ page }} </h1>
	</div>
{% endblock %}

{% block content %}
<div class="form">
<p>Добавить или изменить токен telegram-бота</p>
<p>{{ text }}</p>
<form method="post">
{{ token.csrf_token() }}
	<div>
	{{ token.name_token.label }}
	{{ token.name_token }}
	</div>
	<div>
	{{ token.save_token}}
	</div>
</form>
<form method="post">
{{ delToken.csrf_token() }}
	<div>
	{{ delToken.del_token}}
	</div>
</form>
<br><hr>
<p>Добавить пользователя telegram-бота</p>
<form method="post">
{{ addUser.csrf_token() }}
	<div>
	{{ addUser.name_user.label }}
	{{ addUser.name_user }}
	<br>
	{{ addUser.name_id.label }}
	{{ addUser.name_id }}
	</div>
	<div>
	{{ addUser.save_user}}
	</div>
</form>
<br><hr>
<form method="post">
{{ delUser.csrf_token() }}
	<div>
	{{ delUser.name_user.label }}
	{{ delUser.name_user }}
	</div>
	<div>
	{{ delUser.del_user}}
	</div>
</form>
</div>
{% endblock %}

{% block foot %}
	<div class="foot">
		<a>
		{% for txt in foot %}
			{{ txt }}
			<br>
		{% endfor %}
		</a>
		<a href="{{ url }}" target="_blank">Сайт проекта</a>
	</div>
{% endblock %}

