{% extends 'base.html' %}
 
{% block title %}
	{{ page }}
{% endblock %}

{% block menu %}
	<div class="menu">
	<table id="main_menu">
	<tr>
	{% for key, value in menus.items() %}
		<td>
		<a href= "{{url_for(key)}}" >
            <h2>{{ value }}</h2>
        </a>
		</td>
	{% endfor %}
	</tr>
	</table>
	</div>
{% endblock %}

{% block container %}
	<div class="container">
    	<h1> {{ page }} <br> {{ text.0 }} </h1>
	</div>
<div class="form">
<form method="post" onsubmit="ShowLoading()">
	{{ upd.csrf_token() }}
	<div>
	{{ upd.check_update }}
	</div>
	<br>
	{% if f =='true' %}
	<div>
	{{ upd.update }}
	</div>
	{% endif %}
</form>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block foot %}
	<div class="foot">
		<a>
		{% for txt in foot %}
			{{ txt }}
			<br>
		{% endfor %}
		</a>
	</div>
{% endblock %}

